# Expo
.expo/
.expo-shared/
dist/
web-build/

# Dependencies
node_modules/

# Environment
.env
.env.local

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Android
android/app/build/
android/.gradle/
android/app/release/

# iOS
ios/Pods/
ios/build/
*.pbxuser
!default.pbxuser
*.xcworkspace
!default.xcworkspace
